.Title {
    text-align: center;
    font-size-adjust: auto;
    font-size: 24px;
}

.midBox{ 
    position: fixed;
    height: 45%;
    width: 40%;
    top: 25%;
    left: 30%;  
}

.leftBox{   
    background-color: rgb(247,148,29);
    position: fixed;    
    height: 100%;
    width: 30%;
    left:0px;
}

.rightBox{   
    background-color: rgb(141,198,63);
    position: fixed;
    height: 100%;
    width: 30%;
    right: 0px;
}

.leftPic{
    position: inherit;
    background-image: url(button1.png);
    height: 180px;
    width: 180px;
    top: 40%;
    left: 10%;
}

.rightPic{
    position: inherit;
    height: 180px;
    width: 180px;
    right: 10%;
    top: 40%;
    background-image: url(Button2.png);
}
